<p>This is a Data Carpentry Workshop, with a special <strong>focus on sequence handling for variant calling 
  using the cloud resources, the workshop will introduce you to Genomic concepts and scripting</strong>. 
  For those unfamiliar with the concept, Data Carpentry aims at systematically delivering workshops 
  on the fundamental data skills needed to conduct research. What you will learn during the workshop 
  will largely influence the way in which you handle data in a fully independent way, free from 
  proprietary software and storage platforms. The contents of this 
  workshop will be the <a href="https://datacarpentry.org/genomics-workshop/">Genomics Curriculum</a>. 
  Check <a href="https://datacarpentry.org/workshops-attend/">what to expect if you’re attending a workshop</a>. 
  For more details about what will be covered please see the schedule below.
</p>
