<p id="who">
  <strong>Who:</strong>
  This workshop is open for researchers associated to the Faculty of Applied Sciences and the Faculty of Electrical Engineering, Mathematics & Computer Science @TU Delft.
  <strong>
    You don't need to have any previous knowledge of the tools
    that will be presented at the workshop.
  </strong>
</p>
<p>
  <strong>What:</strong>
  We will start with an introduction to 
  the command line and use of command line utilities to analyze 
  sequence quality and perform variant calling. All using publicly available datasets
  and connecting to and using cloud computing.
</p>
